#about-page .page-header {
    background: #062d7e url(../images/header_about.jpg) no-repeat center center;
    background-size: cover;
}
#about-page #history p,
#about-page #weather p,
#about-page #map p {
    text-align: justify;
}
#about-page #weather {
    margin: 0;
}
#about-page #weather .MuiGrid-item,
#about-page #weather .MuiGrid-item p {
    text-align: center;
}
#about-page #weather .row .col-4 p {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .page-with-sidebar {
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        display: block;
    }
    .page-sidebar {
        display: none;
    }
    #weather {
        .row {
            flex-wrap: wrap;
            .col-4 {
                width: 50%;
                p {
                    font-size: 0.9rem;
                    line-height: 120%;
                }
            }
        }
        h3 {
            margin: 0;
        }
        img {
            max-width: 120px;
        }
    }
}