/* Home Page */
.hero {
  height: 400px;
  background: url(../images/hero.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: 0px 2px 8px #000;
  &::before {
    content: " ";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5)
  }
  .MuiContainer-root {
    z-index: 100;
  }
  .title {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .subtitle {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 10px;
  }
}

/* Newsletter */
.newsletter {
  background-color: #75C887;
  color: #fff;
  margin-top: 30px;
  p {
    max-width: 500px;
  }
}
.newsletter-form {
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0 5px 5px rgba(0,0,0, 0.1);
  input {
    border-radius: 0;
    border-right: 1px solid #eee;
    width: 37%;
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  button {
    width: 26%;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: none;
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    .title {
      font-size: 3rem;
    }
    .subtitle {
      letter-spacing: 5px;
    }
  }
  section.discover {
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: center;
    margin: 0;
    padding: 0;
    h1.title-center {
      font-size: 1.2rem;
      background: #000;
      margin: 0;
      padding: 30px 0;
      color: #fff;
      margin-left: -15px;
      margin-right: -15px;
    }
    .place-img,
    .place-img::before,
    .place-img img {
      border-radius: 0 !important;
    }
    .place-img{
      overflow: hidden;
      margin-bottom: 30px;
      img {
        width: 100%;
      }
      .content {
        padding-bottom: 30px;
        text-shadow: 1px 1px 2px rgba(0,0,0, 0.8);
        p {
          font-size: 0.4rem;
          margin-bottom: 4px;
        }
        h2 {
          font-size: 0.9rem;
          letter-spacing: 0;
          font-weight: 500;
          height: 22px;
        }
      }
    }
    hr {
      display: none;
    }
    .hotels {
      h2 {
        padding: 0;
        margin: 0;
      }
      p {
        display: none;
      }
    }
  }
  section.discover .MuiGrid-grid-xs-12 {
    margin-bottom: -8px;
  }
  section.discover .MuiGrid-grid-xs-4 {
    padding: 0;
  }
  .list-items {
    flex-wrap: wrap;
    img {
      flex-basis: 100%;
      flex: 1;
      max-width: none;
    }
    .content {
      flex-basis: 100%;
      flex: 1;
      padding: 15px 0;
    }
  }
  
  .news {
    margin-top: 2rem;
    hr {
      margin: 0;
    }
    .MuiGrid-item {
      padding-bottom: 0 !important;
    }
  }

  /* Newsletter */
  .newsletter {
    text-align: center;
    h1 {
      margin-top: 0;
    }
    .row {
      flex-wrap: wrap;
      margin: 0;
      .col {
        flex-basis: 100%;
        margin: 0;
      }
    }
    input {
      width: 100%;
    }
  }
}