$main-padding: 30px;
$max-width: 1200px;

$light-color: white;
$nav-hover-color:#ffcb3d;

$nav-padding: 20px;
$navItem-padding: 10px;
$nav-height: 60px;

$four-col-width: 24%;
$three-col-width: 32%;
$two-col-width: 48%;

$screen-sm-min: 520px;
$screen-md-min: 780px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;
$screen-xxl-min: 1440px;